mixin sprite(name)
    svg&attributes(attributes)
        use(xlink:href='images/new-sprite.svg#sprite-' + name.replace('.svg', ''))

mixin select-city
    // select-city
    // Статичный модуль (используется несколько раз без изменения)
    .select-city
        .select-city__label
            | Город:
        // Ширина: Фиксированна
        // Переполнение: Обрезается
        // Позиционирование: К левому краю
        button.select-city__link.select-city__link_city.collapsed(data-toggle='collapse', data-target='.change-city-collapse')
            +sprite('shield.svg')(class="select-city__icon")
            |  Нижний Новгород

        // Ширина: автоматическая
        // Переполнение: Обрезается
        // Позиционирование: К левому краю
        button.select-city__link.select-city__link_store.collapsed(data-toggle='collapse', data-target='.change-store-collapse')
            | ул. Невзоровых, д. 64к2

mixin page-nav
    // page-nav
    // Статичный модуль (используется несколько раз без изменения)
    ul.page-nav
        //li.page-nav__item
        //    a.page-nav__link(href='#') Программа бонусов
        li.page-nav__item
            a.page-nav__link(href='#') Доставка и оплата
        li.page-nav__item
            a.page-nav__link(href='#') Франшиза
        li.page-nav__item
            a.page-nav__link(href='#') Оптовикам
        li.page-nav__item
            a.page-nav__link(href='#') Магазины

mixin header-category
    // header-category
    // Статичный модуль (используется несколько раз без изменения)
    ul.header-category
        li.header-category__item
            a.header-category__link(href='#') Питание
            .header-category__hidden
                .hidden-nav
                    .hidden-nav__block
                        .hidden-nav__title
                            a.hidden-nav__link(href='#') Протеин
                        ul.hidden-nav__list
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                    .hidden-nav__block
                        .hidden-nav__title
                            a.hidden-nav__link(href='#') Батончики, напитки, закуски
                        ul.hidden-nav__list
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Напитки
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#')
                                    | Низкокалорийные Соусы и Джемы
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Ореховые пасты
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Правильное питание
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сахарозаменители
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#')
                                    | Батончики и другие закуски
                    .hidden-nav__block
                        .hidden-nav__title
                            a.hidden-nav__link(href='#') Протеин
                        ul.hidden-nav__list
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                    .hidden-nav__block
                        .hidden-nav__title
                            a.hidden-nav__link(href='#') Протеин
                        ul.hidden-nav__list
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                            li.hidden-nav__item
                                a.hidden-nav__item__link(href='#') Сывороточный
                // /.hidden-nav
        li.header-category__item
            a.header-category__link(href='#') Для похудения
        li.header-category__item
            a.header-category__link(href='#') Для массы
        li.header-category__item
            a.header-category__link(href='#') Для выносливости
        li.header-category__item
            a.header-category__link(href='#') Аксессуары
        li.header-category__item
            a.header-category__link(href='#') Одежда
        li.header-category__item
            a.header-category__link(href='#') Распродажа
        li.header-category__item
            a.header-category__link(href='#') О нас
        li.header-category__item
            a.header-category__link(href='#') Бренды

mixin change-city
    .change-city
        .container
            .change-city__header
                span.change-city__title Города в которых есть marketdo4a
                button.btn.change-city__btn-close(data-toggle='collapse', data-target='.change-city-collapse')
            ul.change-city__list
            .change-city__footer
                a.change-post(href='#')
                    +sprite("change-store-stock-icon.svg")(class="change-post__icon")
                    .change-post__title
                        | Отправлять почтой
                        br
                        | с центрального склада
                    .change-post__note Срок от 5 дней
                .change-city__note
                    | #[b Не нашли магазина в вашем городе?]
                    | Отправим с центрального склада почтой или транспортной компанией.
                    | Доставка от 250 ₽. Отправка на следующий рабочий день.

mixin change-store
    .change-store
        .container
            .change-store__header
                span.change-store__title
                    | ВЫБЕРИТЕ МАГАЗИН
                    br
                    | в #[span.selected Название города]
                button.btn.change-store__btn-close(data-toggle='collapse', data-target='.change-store-collapse')
            ul.change-store__list
                li.change-store__item
                    a.change-store__link.active(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle За ТЦ «Этажи»
                        .change-store__item-note Курьер и самовывоз
                li.change-store__item
                    a.change-store__link(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle За ТЦ «Этажи»
                        .change-store__item-note Курьер и самовывоз
                li.change-store__item
                    a.change-store__link(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle За ТЦ «Этажи»
                        .change-store__item-note Курьер и самовывоз
                li.change-store__item
                    a.change-store__link.active(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle Курьер и самовывоз
                        .change-store__item-note Курьер и самовывоз
                li.change-store__item
                    a.change-store__link(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle Курьер и самовывоз
                        .change-store__item-note Курьер и самовывоз
                li.change-store__item
                    a.change-store__link(href='#')
                        .change-store__item-name ул. Невзоровых, д. 64к2
                        .change-store__item-subtitle Курьер и самовывоз
                        .change-store__item-note Курьер и самовывоз
            .change-store__footer
                a.change-post(href='#')
                    +sprite("change-store-stock-icon.svg")(class="change-post__icon")
                    .change-post__title
                        | Отправлять почтой
                        br
                        | с центрального склада
                    .change-post__note Срок от 5 дней
                .change-store__note
                    | #[b Не нашли нужный товар?] Отправим с центрального склада почтой или транспортной компанией. Доставка от 250 ₽. Отправка на следующий рабочий день.
            // /.change-city__note

.header-banner
    | Бесплатная доставка при заказе от #[span.price 2 990]

header.h-navbar-top
    .container
        .h-navbar-top__inner
            // Ширина: фиксированна
            // Переполнение: -
            // Позиционирование: К левому краю
            .h-navbar-top__change-store
                +select-city

            // Ширина: Фиксированна
            // Переполнение: Равномерное расположение
            // Позиционирование: К левому краю
            nav.h-navbar-top__menu
                +page-nav

            // Ширина: Фиксированна
            // Переполнение: Обрезается
            // Позиционирование: К левому краю
            a.header-login(data-fancybox='', data-src='#sign-in', href='javascript:;')
                +sprite('person.svg')
                |  riverstart-person
                //|  Войти

            // Ширина: Фиксированна
            // Переполнение: -
            // Позиционирование: К правому краю
            a.header-number(href='#')
                +sprite('phone.svg')
                |  +7 (920) 024-33-14

header.h-navbar-collapse
    .change-city-collapse.collapse(data-parent='.h-navbar-collapse')
    .change-store-collapse.collapse(data-parent='.h-navbar-collapse')

header.h-navbar-fixed
    .h-navbar-main
        .container
            .header-control
                button.header-control__menu-btn
                a.header-control__logo(href='/')
                .header-control__search
                    form.search-fild
                        input.search-fild__input.input-text(placeholder='Поиск в каталоге', type='text')
                        button.search-fild__loupe(type='submit')
                            +sprite('loupe.svg')

                a.header-control__button.header-control__button_search(href='#')
                    +sprite('loupe.svg')(width="17px", height="18px")

                a.header-control__button.header-control__button_favorites(href='#')
                    +sprite('heart-mobile.svg')(width="22px", height="19px")

                a.header-control__button.header-control__button_login(href='#')
                    +sprite('person-mobile.svg')(width="18px", height="18px")
                    span.header-control__notifications 2

                .header-control__cart-container
                    //Кнопка корзины для мобилок
                    a.header-control__button.header-control__button_cart(href='#')
                        +sprite('cart.svg')(width="20px", height="22px")
                        span.header-control__notifications 2

                    // Кнопка корзины для десктопа
                    .header-control__cart
                        .button-cart.btn.btn-red.btn-skew
                            .btn-skew__revers.button-cart__inner
                                .button-cart__num 5
                                .button-cart__block
                                    .button-cart__title Корзина
                                    .button-cart__price 12 245 ₽
                        .header-cart
                            .header-cart__wrapper(data-simplebar data-simplebar-auto-hide="false")
                                .header-cart__header
                                    .header-cart__title Товары в корзине
                                    button.header-cart__btn-clear
                                        +sprite('trash.svg')
                                        |  Очистить
                                .header-cart__item
                                    .h-product-item
                                        .h-product-item__img
                                            img(alt='', src=require('./images/cart-product-1.png'))
                                        .h-product-item__info
                                            .h-product-item__name
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, voluptatibus!
                                            .h-product-item__description 900 г.
                                        .h-product-item__controls
                                            .h-product-item__price-block
                                                span.h-product-item__price.price 1 750
                                                button.h-product-item__remove
                                                    +sprite('trash.svg')
                                            // Prod
                                            // <input class="input-counter" max="100" min="1" type="number" value="2">
                                            // Dev
                                            .input-counter
                                                button.input-counter__down -
                                                span.input-counter__count 2
                                                button.input-counter__up +
                                                input.input-counter(type='hidden', value='2')

                                    .h-product-item
                                        .h-product-item__img
                                            img(alt='', src=require('./images/cart-product-1.png'))
                                        .h-product-item__info
                                            .h-product-item__name
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, voluptatibus!
                                            .h-product-item__description 900 г.
                                        .h-product-item__controls
                                            .h-product-item__price-block
                                                span.h-product-item__price.price 1 750
                                                button.h-product-item__remove
                                                    +sprite('trash.svg')
                                            // Prod
                                            // <input class="input-counter" max="100" min="1" type="number" value="2">
                                            // dev
                                            .input-counter
                                                button.input-counter__down -
                                                span.input-counter__count 2
                                                button.input-counter__up +
                                                input.input-counter(type='hidden', value='2')

                                    .h-product-item
                                        .h-product-item__img
                                            img(alt='', src=require('./images/cart-product-1.png'))
                                        .h-product-item__info
                                            .h-product-item__name
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, voluptatibus!
                                            .h-product-item__description 900 г.
                                        .h-product-item__controls
                                            .h-product-item__price-block
                                                span.h-product-item__price.price 1 750
                                                button.h-product-item__remove
                                                    +sprite('trash.svg')
                                            // Prod
                                            // <input class="input-counter" max="100" min="1" type="number" value="2">
                                            // dev
                                            .input-counter
                                                button.input-counter__down -
                                                span.input-counter__count 2
                                                button.input-counter__up +
                                                input.input-counter(type='hidden', value='2')

                                    .h-product-item.disabled
                                        .h-product-item__img
                                            img(alt='', src=require('./images/cart-product-1.png'))
                                        .h-product-item__info
                                            .h-product-item__name
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, voluptatibus!
                                            .h-product-item__description 900 г.
                                        .h-product-item__controls
                                            .h-product-item__price-block
                                                span.h-product-item__price.price 1 750
                                                button.h-product-item__remove
                                                    +sprite('trash.svg')
                                            // Prod
                                            // <input class="input-counter" max="100" min="1" type="number" value="2">
                                            // dev
                                            .input-counter
                                                button.input-counter__down -
                                                span.input-counter__count 2
                                                button.input-counter__up +
                                                input.input-counter(type='hidden', value='2')

                                    .h-product-item
                                        .h-product-item__img
                                            img(alt='', src=require('./images/cart-product-1.png'))
                                        .h-product-item__info
                                            .h-product-item__name
                                                | Optimum nutrition gold standart whey
                                            .h-product-item__description 900 г.
                                        .h-product-item__controls
                                            .h-product-item__price-block
                                                span.h-product-item__price.price 1 750
                                                button.h-product-item__remove
                                                    +sprite('trash.svg')
                                            // Prod
                                            // <input class="input-counter" max="100" min="1" type="number" value="2">
                                            // dev
                                            .input-counter
                                                button.input-counter__down -
                                                span.input-counter__count 2
                                                button.input-counter__up +
                                                input.input-counter(type='hidden', value='2')
    .h-navbar-category
        .container
            ul.h-category
                li.h-category__item
                    a.h-category__link(href='#') Питание
                    ul.h-category-second
                        li.h-category-second__item
                            // Модификаторы:
                            //  - '_arrow' - добавляет стрелку справа
                            // Примечание:
                            // Если существует подменю, добавляем модификатор '_arrow'
                            a.h-category-second__link.h-category-second__link_arrow(href='#') Протеин
                            // Модификаторы:
                            // - '_h-320px' - фиксировання высота 320px (по умолчанию height: auto)
                            // - '_h-460px' - фиксировання высота 460px (по умолчанию height: auto)
                            // Примечание:
                            //  Только для категории "Спортивное питание"
                            //  (по дизайну, фиксировання высота подменю только для него)
                            //  Если больше 5 пунктов, добавляем модификатор '_h-460px', если нет, то '_h-320px'
                            .h-category-third.h-category-third_h-460
                                // Модификаторы:
                                // - '_no-offset' - убирает смещение картинки (по умолчанию translate(28%, 10%))
                                // - '_h-100' - растягивает картинку на всю высоту (по умолчанию height: auto)
                                img.h-category-third__img(src=require('./images/protein.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Антиоксиданты и Q10
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для печени и ПКТ
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Качество сна
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Улучшение пщеварения
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Общеукрепляющие добавки
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Активное долголетие
                        li.h-category-second__item
                            a.h-category-second__link.h-category-second__link_arrow(href='#') Батончики, напитки, закуски
                            // Модификаторы:
                            // - '_h-320px' - фиксировання высота 320px (по умолчанию height: auto)
                            // - '_h-460px' - фиксировання высота 460px (по умолчанию height: auto)
                            // Примечание:
                            //  Только для категории "Спортивное питание"
                            //  (по дизайну, фиксировання высота подменю только для него)
                            //  Если больше 5 пунктов, добавляем модификатор '_h-460px', если нет, то '_h-320px'
                            .h-category-third.h-category-third_h-320
                                // Модификаторы:
                                // - '_no-offset' - убирает смещение картинки (по умолчанию translate(28%, 10%))
                                // - '_h-100' - растягивает картинку на всю высоту (по умолчанию height: auto)
                                img.h-category-third__img(src=require('./images/protein.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Выносливость и силовые
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Гейнеры
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Похудение
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Продукты для здоровья
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Аминокислоты
                li.h-category__item
                    a.h-category__link(href='#') Для похудения
                li.h-category__item
                    a.h-category__link(href='#') Для массы
                li.h-category__item
                    a.h-category__link(href='#') Для выносливости
                li.h-category__item
                    a.h-category__link(href='#') Аксессуары
                    ul.h-category-second
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Аксесуары
                            .h-category-third
                                img.h-category-third__img.h-category-third__img_no-offset(src=require('./images/catalog-dropdown-bg-5.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Антиоксиданты и Q10
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для печени и ПКТ
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Качество сна
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Улучшение пщеварения
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Общеукрепляющие добавки
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Активное долголетие
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Женская одежда
                            .h-category-third
                                img.h-category-third__img.h-category-third__img_no-offset(src=require('./images/catalog-dropdown-bg-4.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Антиоксиданты и Q10
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для печени и ПКТ
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Качество сна
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Улучшение пщеварения
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Общеукрепляющие добавки
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Активное долголетие
                li.h-category__item
                    a.h-category__link(href='#') Одежда
                    ul.h-category-second
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Женская одежда
                            .h-category-third
                                img.h-category-third__img.h-category-third__img_no-offset(src=require('./images/catalog-dropdown-bg-3.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Антиоксиданты и Q10
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для печени и ПКТ
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Качество сна
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Улучшение пщеварения
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Общеукрепляющие добавки
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Активное долголетие
                        li.h-category-second__item
                            a.h-category-second__link(href='#') Мужская одежда
                            .h-category-third
                                img.h-category-third__img.h-category-third__img_no-offset(src=require('./images/catalog-dropdown-bg-2.png'))
                                ul.h-category-third__list
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Омега 3-6-9
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Витамины и минералы
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для суставов и связок
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Тестобустеры и ZMA
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Антиоксиданты и Q10
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Для печени и ПКТ
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Качество сна
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Улучшение пщеварения
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Общеукрепляющие добавки
                                    li.h-category-third__item
                                        a.h-category-third__link(href='#') Активное долголетие
                li.h-category__item
                    a.h-category__link(href='#') Распродажа
                li.h-category__item
                    a.h-category__link(href='#') О нас
                li.h-category__item
                    a.h-category__link(href='#') Бренды

.mobile-menu
    .mobile-menu__overlay
    .mobile-menu__wrapper
        .mobile-menu__block
            a.header-number(href='#')
                +sprite('phone.svg')
                |  +7 (920) 024-33-14
        .mobile-menu__block
            ul.mobile-menu-category
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Питание
                    .mobile-menu-second-level
                        .mobile-menu-second-level__header
                            .mobile-menu-second-level__title Питание
                        .mobile-menu-second-level__wrapper
                            ul.mobile-menu-category
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Для массы
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Для похудения
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Для выносливости
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Аксессуары
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Распродажа
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Одежда
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") О нас
                                li.mobile-menu-category__item
                                    a.mobile-menu-category__link(href="#") Бренды
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Для массы
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Для похудения
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Для выносливости
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Аксессуары
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Распродажа
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Одежда
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") О нас
                li.mobile-menu-category__item
                    a.mobile-menu-category__link(href="#") Бренды
        .mobile-menu__block
            +page-nav
