extends template/template
block wrapper
    main.wrapper
        article
            header.cart-section-header
                .container
                    .breadcumps
                        a.breadcumps__link.red(href='#') Главная
                        span.breadcumps__delimiter
                        span.breadcumps__page Оформление заказа
                    h2 Оформление заказа
            form.cart
                .container
                    .cart__inner
                        .cart__col-left
                            .order-personal-info
                                h4 Ваши данные
                                .order-personal-info__form
                                    .form-group
                                        .input-field.input-field_primary
                                            label.input-field__label Имя и фамилия*
                                            input.input-field__input(type="text" autocomplete="name" required)
                                    .form-group
                                        .input-field.input-field_primary
                                            label.input-field__label Номер телефона*
                                            input.input-field__input(type="tel" autocomplete="tel" required)
                                    .form-group
                                        .input-field.input-field_primary
                                            label.input-field__label E-mail*
                                            input.input-field__input(type="email" autocomplete="email" required)
                                    .order-personal-info__note *поля, обязательные для заполнения

                            .order-alert
                                .order-alert__title Внимание! Этот заказ был разделён.
                                .order-alert__text
                                    | Часть заказа будет отправлена с центрального склада.
                                    | Вы получите товары разными способами доставки.

                            .order-shiping
                                .order-shiping__header
                                    .order-shiping__name Отправление 1
                                    button.order-shiping__btn-delete(type="button" data-cart="remove-shiping")
                                        i.icon.icon-delete
                                        |  Удалить отправление
                                .order-shiping__quantity 2 товара
                                .order-shiping__list
                                .order-shiping__shipping-type
                                    h4 Способ получения
                                    .order-option.active
                                        .order-option__header
                                            .order-option__title Почтой России
                                            .order-option__info
                                                span.green Бесплатная доставка
                                                span  Сегодня
                                            .order-option__img
                                                img(src=require('./images/logo-rp.svg'))
                                        .order-option__body
                                            .order-option__subtitle Срок доставки 14.05 - 17.05
                                            p.order-option__text
                                                | В удалённые районы доставка от 14 дней. При получении обязательно проверяйте целостность упаковки
                                            .order-option__subtitle Адрес доставки

                                            .form-group
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Населённый пункт
                                                    input.input-field__input(type="text" autocomplete="address-level2")
                                            .form-group
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Улица
                                                    input.input-field__input(type="text" autocomplete="address-line1")
                                            .form-group.form-group_row
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Дом
                                                    input.input-field__input(type="text")
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Квартира/офис
                                                    input.input-field__input(type="text" autocomplete="address-line2")
                                            .form-group.form-group_row
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Этаж
                                                    input.input-field__input(type="text")
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Подъезд
                                                    input.input-field__input(type="text")
                                            .form-group
                                                .input-field.input-field_primary-white
                                                    label.input-field__label Индекс
                                                    input.input-field__input(type="number" autocomplete="postal-code")
                                .order-shiping__payment-type
                                    h4 Способ оплаты
                                    .order-option.active
                                        .order-option__header
                                            .order-option__title Картой онлайн
                                            .order-option__info
                                                i.icon.icon-visa
                                                i.icon.icon-mastercard
                                                i.icon.icon-mir

                            .order-shiping
                                .order-shiping__header
                                    .order-shiping__name Отправление 2
                                .order-shiping__quantity 3 товара
                                .order-shiping__list
                                .order-shiping__shipping-type
                                    h4 Способ получения
                                    .order-option.active
                                        .order-option__header
                                            .order-option__title Самовывоз из магазина
                                            .order-option__info
                                                span.green Бесплатная доставка
                                                span  Сегодня
                                        //.order-option__body

                                    .order-option
                                        .order-option__header
                                            .order-option__title Курьером до двери
                                            .order-option__info
                                                span 300 ₽
                                                span  В течение 24 часов
                                        //.order-option__body

                                .order-shiping__payment-type
                                    h4 Способ оплаты
                                    .order-option.active
                                        .order-option__header
                                            .order-option__title Оплата при получении
                                            .order-option__info
                                                small Наличными или картой при самовывозе в магазине
                        .cart__col-right
                            .order
                                .order__header
                                    .order__header-col
                                        h4.order__title В заказе 6 товаров
                                        button.order__btn-clear(type="button" data-cart="clear")
                                            i.icon.icon-delete
                                            |
                                            |
                                            span Очистить корзину
                                    button.order__btn-checkout.btn.btn-red.btn-skew(type="submit") оформить заказ

                                .order-item
                                    .order-item__header.order-item__header_dark
                                        .order-item__title Доставка с центрального склада
                                        .order-number-badge.order-number-badge_dark Отправление 1
                                    .order-item__product-list
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                .order-product__price 1 500 <span class="currency">₽</span>
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                del.order-product__old-price 5 000 <span class="currency">₽</span>
                                                .order-product__price 3 500 <span class="currency">₽</span>
                                                .order-product__profit Выгода 627 ₽
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                    .order-item__amount
                                        .order-item__row
                                            .order-item__key Товары
                                            .order-item__value
                                                small.gray 2 товара
                                                b  5 000 <span class="currency">₽</span>
                                        .order-item__row
                                            .order-item__key Доставка
                                            .order-item__value
                                                b 300 <span class="currency">₽</span>
                                        .order-item__row
                                            .order-item__key Скидка
                                            .order-item__value
                                                b.red 300 <span class="currency">₽</span>
                                        .order-item__row
                                            .order-item__key Оплата
                                            .order-item__value
                                                i.icon.icon-visa
                                                i.icon.icon-mastercard
                                                i.icon.icon-mir
                                                |  Картой онлайн

                                .order-item
                                    .order-item__header
                                        .order-item__title Получить в магазине или курьером
                                        .order-number-badge Отправление 2
                                    .order-item__product-list
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                .order-product__price 1 500 <span class="currency">₽</span>
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                del.order-product__old-price 5 000 <span class="currency">₽</span>
                                                .order-product__price 3 500 <span class="currency">₽</span>
                                                .order-product__profit Выгода 627 ₽
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                del.order-product__old-price 5 000 <span class="currency">₽</span>
                                                .order-product__price 3 500 <span class="currency">₽</span>
                                                .order-product__profit Выгода 627 ₽
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                        .order-product
                                            .order-product__col-image
                                                img.order-product__img(src=require('./images/product.png'))
                                            .order-product__col-info
                                                .order-product__name Optimum Nutrition Fish Oil
                                                .order-product__description 900 гр.
                                            .order-product__col-count
                                                .order-product__counter
                                                .order-product__count-note 1 500 ₽/шт.
                                            .order-product__col-price
                                                del.order-product__old-price 5 000 <span class="currency">₽</span>
                                                .order-product__price 3 500 <span class="currency">₽</span>
                                                .order-product__profit Выгода 627 ₽
                                            button.order-product__btn-delete(data-cart="remove-product")
                                                i.icon.icon-delete
                                    .order-item__amount
                                        .order-item__row
                                            .order-item__key Товары
                                            .order-item__value
                                                small.gray 5 товаров
                                                b  11 800 <span class="currency">₽</span>
                                        .order-item__row
                                            .order-item__key Доставка
                                            .order-item__value
                                                b Бесплатно
                                        .order-item__row
                                            .order-item__key Скидка
                                            .order-item__value
                                                b.red 627 <span class="currency">₽</span>
                                        .order-item__row
                                            .order-item__key Оплата
                                            .order-item__value Наличными при получении

                                .order-promocode
                                    .order-promocode__field
                                        .input-field.input-field_primary-white
                                            label.input-field__label Добавить промокод
                                            input.input-field__input
                                    .order-promocode__button
                                        button.btn.btn-gray-2.btn-block(data-cart="promocode") Применить
                                .order-amount
                                    .order-amount__sale
                                        .order-amount__key ваша Скидка
                                        .order-amount__value
                                            | 700 <span class="currency">₽</span>
                                    .order-amount__sum
                                        .order-amount__key Итого к оплате
                                        .order-amount__value 16 800 <span class="currency">₽</span>
                                    .order-amount__row
                                        .order-amount__key
                                            span.order-number-badge.order-number-badge_dark Отправление 1
                                            |  Банковской картой онлайн
                                        .order-amount__value 5 000 <span class="currency">₽</span>
                                    .order-amount__row
                                        .order-amount__key
                                            span.order-number-badge Отправление 1
                                            |  При получении
                                        .order-amount__value 11 800 <span class="currency">₽</span>
                                .order__footer
                                    button.order__btn-checkout.btn.btn-red.btn-skew(type="submit") оформить заказ
                                    .order__footer-note
                                        | Нажимая на кнопку, вы подтверждаете согласие на обработку
                                        a(href='#')  персональных данных
                                        |  и
                                        a(href='#')  политику конфиденциальности

