extends template/template
block wrapper
    .catalog-menu-mob#mobile-filter
    .catalog-menu-mob#mobile-sort

    .wrapper
        .page-header
            .container
                .breadcumps
                    a.breadcumps__link.red(href='#') Главная
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Каталог
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Протеины
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Комплексный протеин
                    span.breadcumps__delimiter
                    span.breadcumps__page BSN Syntha-6
                h1.page-header__title протеины
        .catalog-banner
            .catalog-banner__container
                .catalog-banner__sale
                    .catalog-banner__sale-value -15%
                    .catalog-banner__sale-text На все протеины
                .catalog-banner__bg(style='background-image: url(' + require('./images/banner-bg.png') + ')')
                .catalog-banner__promocode
                    .catalog-banner__promocode-text Промокод
                    .catalog-banner__promocode-value Muscle

        form#catalog-filter(method="get" action="static/product.json")
            .catalog-control
                .catalog-control__menu.catalog-control__menu_white
                    .container
                        .filter
                            .filter__list

                                // Элемент фильтра
                                // Модификаторы:
                                //    .active или .multifilter_active - Когда фильтр активен (то есть выбраны значения)
                                //                                      Пока просто показывает кнопку "Сбросить"
                                //    .view   - Модификатор dropdown (унаследовано от bootstrap)
                                //              Изменяет фон кнопки .multifilter__content
                                fieldset.multifilter

                                    // Видимое сожержимое элемента фильтра
                                    //
                                    // При использовании выпадающего меню обязателено использование <button>
                                    // а также наличие атрибута [data-toggle="dropdown"]
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__label Категория:
                                        span.multifilter__value Казеин и молоко

                                    // Выпадающее меню
                                    //    Класс .dropdown-menu обязателен при использовании Dropdown
                                    // Модификаторы:
                                    //    .show - Модификатор dropdown (унаследовано от bootstrap)
                                    //            Показывает меню
                                    // Атрибут role="form" обязателен, когда не требуется закрывать меню при клике в нем
                                    // Работает также для отдельных вложенных элементов
                                    .dropdown-menu(role="form")
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1010")
                                            span.multifilter-checkbox__label
                                                | Говяжий
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1011")
                                            span.multifilter-checkbox__label
                                                | Изоляты и гидролизаты
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1012")
                                            span.multifilter-checkbox__label
                                                | Казеин и молочный
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1013")
                                            span.multifilter-checkbox__label
                                                | Комплексный
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1014")
                                            span.multifilter-checkbox__label
                                                | Растительный
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1015")
                                            span.multifilter-checkbox__label
                                                | Сывороточный
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Category[]" value="1016")
                                            span.multifilter-checkbox__label
                                                | Яичный

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Бренд
                                    .dropdown-menu(role="form")
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1000")
                                            span.multifilter-checkbox__label
                                                | 21st Century
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1001" checked=true)
                                            span.multifilter-checkbox__label
                                                | 25-й час
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1002" disabled=true)
                                            span.multifilter-checkbox__label
                                                | 2DTrade
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1003" disabled=true)
                                            span.multifilter-checkbox__label
                                                | 2SN
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1004" checked=true)
                                            span.multifilter-checkbox__label
                                                | 4 Dimension Nutrition
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1005" disabled=true)
                                            span.multifilter-checkbox__label
                                                | 6 Pack Fitness
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1006")
                                            span.multifilter-checkbox__label
                                                | ABB
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1008" disabled=true)
                                            span.multifilter-checkbox__label
                                                | Activeprotein
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1009" disabled=true)
                                            span.multifilter-checkbox__label
                                                | ActivLab
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1011" disabled=true)
                                            span.multifilter-checkbox__label
                                                | Aesthetixera
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1012")
                                            span.multifilter-checkbox__label
                                                | ALLMAX
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Brand[]" value="1014" disabled=true)
                                            span.multifilter-checkbox__label
                                                | Beyond

                                fieldset.multifilter(is="MultifilterCheckboxList")
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Страна
                                    .dropdown-menu(role="form")
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Country[]" value="1")
                                            span.multifilter-checkbox__label
                                                | Америка
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Country[]" value="2" checked=true)
                                            span.multifilter-checkbox__label
                                                | Англия
                                        label.multifilter-checkbox
                                            input.multifilter-checkbox__input(type="checkbox" name="Country[]" value="3" disabled=true)
                                            span.multifilter-checkbox__label
                                                | Россия

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Объём, кг
                                    .dropdown-menu(role="form")
                                        .p-1 dropdown

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Порции
                                    .dropdown-menu(role="form")
                                        .p-1 dropdown

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value % Белка
                                    .dropdown-menu(role="form")
                                        .p-1 dropdown

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Время приёма
                                    .dropdown-menu(role="form")
                                        .p-1 dropdown

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Цена
                                    .dropdown-menu(role="form")
                                        .multifilter-price(is="multifilter-price")
                                            input.js-min-value(type='hidden' name='Price[from]' value='0')
                                            input.js-max-value(type='hidden' name='Price[to]' value='0')
                                            .multifilter-price__title
                                                span.multifilter-price__start От
                                                span.multifilter-price__end До
                                            .multifilter-price__range
                                                .input-range
                                            .multifilter-price__num
                                                span.multifilter-price__start 50 ₽
                                                span.multifilter-price__end 10 000 ₽
                            button.filter__btn-reset(type="reset") Сбросить

                .catalog-control__menu
                    .container
                        .sorting
                            .sorting__list
                                .multifilter
                                    .multifilter__content
                                        span.multifilter__label Найдено:
                                        span.multifilter__value(data-total-find) 12 товаров

                                fieldset.multifilter
                                    button.multifilter__content(data-toggle="dropdown" type="button")
                                        span.multifilter__value Сначала дешевые
                                    button.multifilter__btn-clear(type="reset") Сбросить
                                    .dropdown-menu(role="form")
                                        .multifilter-radio
                                            input.multifilter-radio__input(type="radio" id="s-1-check-1" name="Sort" value="1")
                                            label.multifilter-radio__label(for="s-1-check-1")
                                                | По популярности
                                        .multifilter-radio
                                            input.multifilter-radio__input(type="radio" id="s-1-check-2" name="Sort" value="2")
                                            label.multifilter-radio__label(for="s-1-check-2")
                                                | Сначала дешевые
                                        .multifilter-radio
                                            input.multifilter-radio__input(type="radio" id="s-1-check-3" name="Sort" value="3" checked=true)
                                            label.multifilter-radio__label(for="s-1-check-3")
                                                | Сначала дорогие
                                        .multifilter-radio
                                            input.multifilter-radio__input(type="radio" id="s-1-check-4" name="Sort" value="4")
                                            label.multifilter-radio__label(for="s-1-check-4")
                                                | По названию (А-Я)
                                        .multifilter-radio
                                            input.multifilter-radio__input(type="radio" id="s-1-check-5" name="Sort" value="5")
                                            label.multifilter-radio__label(for="s-1-check-5")
                                                | По названию (Я-А)
                                .sorting__change-store
                                    fieldset.multifilter(data-filter-name="Store")
                                        button.multifilter__content(data-toggle="dropdown" type="button")
                                            span.multifilter__label В магазинах:
                                            span.multifilter__value длинное Название магазина
                                        .dropdown-menu(role="form")
                                            label.multifilter-checkbox
                                                input.multifilter-checkbox__input(type="checkbox" name="Store[]" value="10001" checked=true)
                                                span.multifilter-checkbox__label
                                                    | ул. Восстания, д. 9
                                            label.multifilter-checkbox
                                                input.multifilter-checkbox__input(type="checkbox" name="Store[]" value="10002")
                                                span.multifilter-checkbox__label
                                                    | ул. Бухарестская, 30-32
                                            label.multifilter-checkbox
                                                input.multifilter-checkbox__input(type="checkbox" name="Store[]" value="10003")
                                                span.multifilter-checkbox__label
                                                    | Коломяжский проспект, дом 26
                                            label.multifilter-checkbox
                                                input.multifilter-checkbox__input(type="checkbox" name="Store[]" value="10004")
                                                span.multifilter-checkbox__label
                                                    | Проспект Испытателей, д. 39

                            .sorting__checkbox-container
                                fieldset.multifilter
                                    .multifilter__content
                                        .input-checkbox
                                            input.input-checkbox__input(type="checkbox" id="customCheck1")
                                            label.input-checkbox__label(for="customCheck1")
                                                | Только со скидкой

                .catalog-control__menu.catalog-control__menu_white
                    .catalog-control-mob
                        button.catalog-control-mob__button.justify-content-start(data-toggle="m-filter" data-target="#mobile-filter")
                            +sprite('filter.svg')(class="catalog-control-mob__icon", height='21', width='19')
                            span Фильтр
                        button.catalog-control-mob__button.catalog-control-mob__button_gray.justify-content-end(data-toggle="m-filter" data-target="#mobile-sort")
                            span Сортировка
                            +sprite('sort.svg')(class="catalog-control-mob__icon", height='22', width='14')
            .catalog
                .catalog__container
                    .card-list
                        .product-card
                            a.product-card-banner(href="#")
                                .product-card-banner__title
                                    | Бесплатная доставка курьером
                                    span.nowrap
                                        |  от
                                        span.price
                                            |  2 990
                                            span.currency  ₽
                        -
                            let index = 666;
                            const productCards = [
                            {
                            title: 'Optimum nutrition gold standart whey',
                            description: 'Комплексный протеин',
                            stickers: ['delivery', 'yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey',
                            }, {
                            title: 'Optimum nutrition',
                            stickers: ['yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey protein',
                            stickers: ['delivery', 'yellow']
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['', 'yellow', 'green', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['delivery', '', '', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            },
                            ]
                        each card in productCards
                            .product-card(data-product-id=index++)
                                .product-card__wrapper(itemscope itemtype="http://schema.org/Product")
                                    .product-card__img
                                        //img(itemprop="image"
                                        //    src="https://msk.marketdo4a.com/upload/resizer/15/99069_270x270_151b675ade5086be6aabcf932706bc81.jpg"
                                        //    alt="Название товара")
                                        img(itemprop="image"
                                            src="https://msk.marketdo4a.com/upload/resizer/63/99069_135x135_63ec585121253185df07d1ad9e4365dd.jpg"
                                            srcset="https://msk.marketdo4a.com/upload/resizer/15/99069_270x270_151b675ade5086be6aabcf932706bc81.jpg 2x"
                                            alt="Название товара")

                                    .product-card__body
                                        if index % 2 === 1
                                            .product-card__badge.product-card__badge_red
                                                | <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                |   <path d="M4.06151 2.20115C4.66934 2.20115 5.16209 1.70841 5.16209 1.10058C5.16209 0.492745 4.66934 0 4.06151 0C3.45368 0 2.96094 0.492745 2.96094 1.10058C2.96094 1.70841 3.45368 2.20115 4.06151 2.20115Z" fill="currentColor"/>
                                                |   <path d="M0.633285 5.83629C0.939069 5.7834 2.16343 5.57127 2.23173 5.5485C2.30998 5.52247 2.23173 5.5485 2.25777 5.50938C2.28367 5.47025 3.3518 3.21702 3.45609 3.09978C3.56025 2.98254 3.84681 2.68289 4.25048 2.5527C4.65428 2.4225 5.05808 2.63081 5.05808 2.63081C5.05808 2.63081 7.06388 3.77706 7.19407 3.84209C7.3244 3.90725 7.44164 4.14173 7.44164 4.14173L8.37808 5.90214C8.4547 5.9988 8.50078 6.12081 8.50078 6.25387C8.50078 6.56674 8.24721 6.82044 7.9342 6.82044C7.66672 6.82044 7.44314 6.63477 7.38357 6.38556L6.51039 4.73435L5.9633 4.4283C6.00229 4.54554 6.50384 6.98772 6.50384 6.98772L7.0118 9.87924L8.7917 12.0238C8.91971 12.1431 9.00015 12.3127 9.00015 12.5014C9.00015 12.8622 8.70772 13.1549 8.34673 13.1549C8.1271 13.1549 7.93297 13.0459 7.8145 12.8794C7.48827 12.4961 5.84811 10.5681 5.68983 10.3804C5.51397 10.1721 5.46843 10.0679 5.44239 9.93118C5.41649 9.7943 5.12325 8.02954 5.12325 8.02954L3.44301 9.71005V12.673H3.4396C3.40579 13.0047 3.12563 13.2634 2.78509 13.2634C2.44468 13.2634 2.16452 13.0047 2.13085 12.673H2.12744C2.12744 12.673 2.12758 12.652 2.12785 12.6156C2.12785 12.6123 2.12744 12.6089 2.12744 12.6057C2.12744 12.6014 2.12799 12.5972 2.12799 12.5928C2.13112 12.1413 2.14503 9.89341 2.12744 9.38423C2.10795 8.81779 2.30998 8.694 2.35552 8.64192C2.40119 8.58985 3.9706 6.92269 3.9706 6.92269L3.62555 5.24913C3.62555 5.24913 3.17608 6.12817 3.13054 6.22592C3.08487 6.32353 2.94159 6.49953 2.79204 6.53197C2.64208 6.56456 0.773021 6.94232 0.773021 6.94232L0.772204 6.93837C0.744802 6.94246 0.716991 6.94682 0.688362 6.94682C0.380124 6.94682 0.130371 6.69707 0.130371 6.38883C0.130235 6.09927 0.351222 5.86438 0.633285 5.83629Z" fill="currentColor"/>
                                                | </svg>
                                                | Магазин рядом, 1 день
                                        else
                                            .product-card__badge
                                                | <svg width="15" height="11" viewBox="0 0 15 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                |   <path d="M14.4789 5.8211L13.1053 5.53689L12.4579 3.59479C12.2211 2.90005 11.5895 2.44215 10.8632 2.44215H9.77368V1.44742C9.77368 1.08426 9.48947 0.800049 9.12632 0.800049H0.647368C0.284211 0.800049 0 1.08426 0 1.44742V8.50531C0 8.86847 0.284211 9.15268 0.647368 9.15268H1.34211C1.34211 10.1632 2.16316 11 3.18947 11C4.2 11 5.03684 10.179 5.03684 9.15268H9.96316C9.96316 10.1632 10.7842 11 11.8105 11C12.8211 11 13.6579 10.179 13.6579 9.15268H14.3526C14.7158 9.15268 15 8.86847 15 8.50531V6.45268C15 6.15268 14.7789 5.88426 14.4789 5.8211ZM3.18947 10.0369C2.71579 10.0369 2.32105 9.64215 2.32105 9.16847C2.32105 8.69478 2.71579 8.30005 3.18947 8.30005C3.66316 8.30005 4.05789 8.69478 4.05789 9.16847C4.07368 9.64215 3.67895 10.0369 3.18947 10.0369ZM9.77368 5.379V3.4211H10.8632C11.1789 3.4211 11.4474 3.61058 11.5421 3.91058L12.0316 5.379H9.77368ZM11.8105 10.0369C11.3368 10.0369 10.9421 9.64215 10.9421 9.16847C10.9421 8.69478 11.3368 8.30005 11.8105 8.30005C12.2842 8.30005 12.6789 8.69478 12.6789 9.16847C12.6789 9.64215 12.2842 10.0369 11.8105 10.0369Z" fill="currentColor"/>
                                                | </svg>
                                                | Со склада в СПБ, 7 дней
                                        // Ссылку назначаем на заголовок
                                        // Если хотим, чтобы вся карточка была кликабельной, а не только заголовок
                                        // то добавляем класс .stretched-link
                                        // См. https://getbootstrap.com/docs/4.3/utilities/stretched-link/
                                        // Причина: соответствие стандартам, которые запрещают <div> внутри <a>
                                        a.product-card__title.stretched-link(href='#' itemprop="name")
                                            | #{card.title || 'Заголовок'}
                                        .product-card__description(itemprop="description")
                                            | #{card.description || 'Описание'}

                                    .product-card__footer(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                        .product-card__price
                                            span.small от
                                            span.price(itemprop="price" content="1750.00")  1 750
                                            span.currency(itemprop="priceCurrency" content="RUB")  ₽
                                        .product-card__sale
                                            | Экономия до 300 ₽

                                        .product-card__row
                                            .product-card__reviews(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating")
                                                meta(itemprop="ratingValue" content="4.23")
                                                meta(itemprop="bestRating" content="5")
                                                meta(itemprop="reviewCount" content="31")
                                                span.product-card__rating
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star
                                                span 31 отзыв
                                            .product-card__stock
                                                // Добавляем элемент, если товар в наличии
                                                link(itemprop="availability" href="http://schema.org/InStock")
                                                // Модификаторы:
                                                //    .green    - (глобальный класс) Зеленый текст
                                                //    .red      - (глобальный класс) Красный текст
                                                div.green В наличии
                                                div 6 фасовок
                                if card.stickers
                                    .product-stickers
                                        // Модификаторы:
                                        //    .product-stickers_item_yellow     - Желтый фон
                                        //    .product-stickers_item_green      - Зеленый фон
                                        //    .product-stickers_item_red        - Красный фон
                                        //    .product-stickers_item_delivery   - Иконка доставки
                                        each sticker in card.stickers
                                            if sticker === 'delivery'
                                                .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                                    | Доставка <br>1 день
                                            else if sticker === 'yellow'
                                                .product-stickers__item.product-stickers__item_yellow
                                                    | Рекомендуем
                                            else if sticker === 'green'
                                                .product-stickers__item.product-stickers__item_green
                                                    | Новинка
                                            else if sticker === 'red'
                                                .product-stickers__item.product-stickers__item_red
                                                    | Хит!

                                // Возможные элементы:
                                //     <button>
                                //     <a>
                                // Модификаторы:
                                //     .active или .product-card__favorites_active - Добавлено в избранное
                                .product-control
                                    button.product-control__favorites(data-product-toggle="add-favorites")
                                        +sprite('product-card-heart.svg')
            .load-more-block
                button.load-more-block__link Показать еще
                .load-more-block__value Показано 24 из 170
        .catalog-description
            .container
                p
                    | Протеин – это натуральная белковая добавка в виде порошковой смеси, которая применяется в спортивном питании
                    | для роста, поддержания и восстановления мышечной массы, а также для коррекции рациона любого современного
                    | человека.
                p
                    | Для чего нужен протеин? Белок состоит из аминокислот, которые являются основными строительными «кирпичиками»,
                    | необходимыми для построения мышц. Протеин - одна из самых востребованных спортивных добавок, необходимых для
                    | роста и поддержания мышечной массы. Именно поэтому, чтобы повысить качество тренировки и извлечь из нее
                    | максимальную пользу, вы должны обеспечить свой организм достаточным количеством протеина. Прием протеиновых
                    | коктейлей – чрезвычайно эффективный и достаточно экономичный способ обеспечения организма белком.
                p
                    | Ознакомьтесь с нашими высококачественными продуктами здесь и выберите для себя наиболее подходящий вам белковый
                    | порошок или коктейль.
        .benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться
