extends template/template
block wrapper
    .catalog-menu-mob#mobile-sort
        .catalog-menu-mob__header
            span.catalog-menu-mob__title Сортировка
            button.catalog-menu-mob__btn-close
        .catalog-menu-mob__wrapper
            .multifilter-radio
                input.multifilter-radio__input(type="radio" id="m-s-1-check-1" name="m-sort" checked=true)
                label.multifilter-radio__label(for="m-s-1-check-1")
                    | По популярности
            .multifilter-radio
                input.multifilter-radio__input(type="radio" id="m-s-1-check-2" name="m-sort")
                label.multifilter-radio__label(for="m-s-1-check-2")
                    | Сначала дешевые
            .multifilter-radio
                input.multifilter-radio__input(type="radio" id="m-s-1-check-3" name="m-sort")
                label.multifilter-radio__label(for="m-s-1-check-3")
                    | Сначала дорогие
            .multifilter-radio
                input.multifilter-radio__input(type="radio" id="m-s-1-check-4" name="m-sort")
                label.multifilter-radio__label(for="m-s-1-check-4")
                    | По названию (А-Я)
            .multifilter-radio
                input.multifilter-radio__input(type="radio" id="m-s-1-check-5" name="m-sort")
                label.multifilter-radio__label(for="m-s-1-check-5")
                    | По названию (Я-А)
        .catalog-menu-mob__footer
            button.catalog-menu-mob__btn-footer.btn.btn-red Применить


    .wrapper
        .page-header
            .container
                .breadcumps
                    a.breadcumps__link.red(href='#') Главная
                    span.breadcumps__delimiter
                    a.breadcumps__link.red(href='#') Личный кабинет
                    span.breadcumps__delimiter
                    span.breadcumps__page Избранное
                h1.page-header__title Избранное

        .catalog-control.catalog-control_favorites
            .catalog-control__menu.catalog-control__menu_white
                .container
                    .sorting
                        .sorting__list
                            .multifilter
                                .multifilter__content
                                    span.multifilter__label В избранном:
                                    span.multifilter__value(data-total-find) 12 товаров

                            fieldset.multifilter
                                button.multifilter__content(data-toggle="dropdown")
                                    span.multifilter__value Сначала дешевые
                                button.multifilter__btn-clear Сбросить
                                .multifilter__dropdown.dropdown-menu(data-simplebar data-simplebar-auto-hide="false" role="form")
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-1" name="sort" checked=true)
                                        label.multifilter-radio__label(for="s-1-check-1")
                                            | По популярности
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-2" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-2")
                                            | Сначала дешевые
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-3" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-3")
                                            | Сначала дорогие
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-4" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-4")
                                            | По названию (А-Я)
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-5" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-5")
                                            | По названию (Я-А)
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-6" name="sort" checked=true)
                                        label.multifilter-radio__label(for="s-1-check-6")
                                            | По популярности
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-7" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-7")
                                            | Сначала дешевые
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-8" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-8")
                                            | Сначала дорогие
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-9" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-9")
                                            | По названию (А-Я)
                                    .multifilter-radio
                                        input.multifilter-radio__input(type="radio" id="s-1-check-10" name="sort")
                                        label.multifilter-radio__label(for="s-1-check-10")
                                            | По названию (Я-А)

                        .sorting__checkbox-container
                            fieldset.multifilter
                                .multifilter__content
                                    .input-checkbox
                                        input.input-checkbox__input(type="checkbox" id="customCheck1")
                                        label.input-checkbox__label(for="customCheck1")
                                            | Только со скидкой



            .catalog-control__menu.catalog-control__menu_white
                .catalog-control-mob
                    button.catalog-control-mob__button.catalog-control-mob__button_gray.justify-content-between(data-toggle="m-filter" data-target="#mobile-sort")
                        span Сортировка
                        +sprite('sort.svg')(class="catalog-control-mob__icon", height='22', width='14')
        .favorite-list.container
            .card-list
                -
                    let index = Math.round(Math.random() * 1000);
                    const productCards = [
                    {
                    title: 'Optimum nutrition gold standart whey',
                    description: 'Комплексный протеин',
                    stickers: ['delivery', 'yellow', 'green', 'red']
                    }, {
                    title: 'Optimum nutrition gold standart whey',
                    }, {
                    title: 'Optimum nutrition',
                    stickers: ['yellow', 'green', 'red'],
                    disabled: true,
                    }, {
                    title: 'Optimum nutrition gold standart whey protein',
                    stickers: ['delivery', 'yellow']
                    }, {
                    price: '1 750',
                    sale: '600',
                    stickers: ['', 'yellow', 'green', '']
                    }, {
                    price: '1 750',
                    sale: '600'
                    }, {
                    price: '1 750',
                    sale: '600',
                    stickers: ['delivery', '', '', '']
                    }, {
                    price: '1 750',
                    sale: '600'
                    }
                    ]
                each card in productCards
                    div(class=`product-card ${card.disabled ? 'disabled' : ''}`, data-product-id=index++)
                        .product-card__wrapper(itemscope itemtype="http://schema.org/Product")
                            .product-card__img
                                img(itemprop="image"
                                    src="https://msk.marketdo4a.com/upload/resizer/63/99069_135x135_63ec585121253185df07d1ad9e4365dd.jpg"
                                    srcset="https://msk.marketdo4a.com/upload/resizer/15/99069_270x270_151b675ade5086be6aabcf932706bc81.jpg 2x"
                                    alt="Название товара")

                            .product-card__body
                                // Ссылку назначаем на заголовок
                                // Если хотим, чтобы вся карточка была кликабельной, а не только заголовок
                                // то добавляем класс .stretched-link
                                // См. https://getbootstrap.com/docs/4.3/utilities/stretched-link/
                                // Причина: соответствие стандартам, которые запрещают <div> внутри <a>
                                a.product-card__title.stretched-link(href='#' itemprop="name")
                                    | #{card.title || 'Заголовок'}
                                .product-card__description(itemprop="description")
                                    | #{card.description || 'Описание'}

                            .product-card__footer(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                .product-card__price
                                    span.small от
                                    span.price(itemprop="price" content="1750.00")  1 750
                                    span.currency(itemprop="priceCurrency" content="RUB")  ₽
                                .product-card__sale
                                    | Экономия до 300 ₽

                                .product-card__row
                                    .product-card__reviews(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating")
                                        meta(itemprop="ratingValue" content="4.23")
                                        meta(itemprop="bestRating" content="5")
                                        meta(itemprop="reviewCount" content="31")
                                        span.product-card__rating
                                            i.i.i-star.red
                                            i.i.i-star.red
                                            i.i.i-star.red
                                            i.i.i-star.red
                                            i.i.i-star
                                        span 31 отзыв
                                    .product-card__stock
                                        // Добавляем элемент, если товар в наличии
                                        link(itemprop="availability" href="http://schema.org/InStock")
                                        // Модификаторы:
                                        //    .green    - (глобальный класс) Зеленый текст
                                        //    .red      - (глобальный класс) Красный текст
                                        div.green В наличии
                                        div 6 фасовок
                        if card.stickers
                            .product-stickers
                                // Модификаторы:
                                //    .product-stickers_item_yellow     - Желтый фон
                                //    .product-stickers_item_green      - Зеленый фон
                                //    .product-stickers_item_red        - Красный фон
                                //    .product-stickers_item_delivery   - Иконка доставки
                                each sticker in card.stickers
                                    if sticker === 'delivery'
                                        .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                            | Доставка <br>1 день
                                    else if sticker === 'yellow'
                                        .product-stickers__item.product-stickers__item_yellow
                                            | Рекомендуем
                                    else if sticker === 'green'
                                        .product-stickers__item.product-stickers__item_green
                                            | Новинка
                                    else if sticker === 'red'
                                        .product-stickers__item.product-stickers__item_red
                                            | Хит!

                        // Возможные элементы:
                        //     <button>
                        //     <a>
                        // Модификаторы:
                        //     .active или .product-card__favorites_active - Добавлено в избранное
                        .product-control
                            button.product-control__favorites.active(data-toggle="product.favorites.remove")
                                +sprite('product-card-heart.svg')
        .benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться
