extends template/template
block wrapper
    main.wrapper
        article.product
            section.p-section-hero
                .container
                    .breadcumps
                        a.breadcumps__link.red(href='#') Главная
                        span.breadcumps__delimiter
                        a.breadcumps__link(href='#') Каталог
                        span.breadcumps__delimiter
                        a.breadcumps__link(href='#') Протеины
                        span.breadcumps__delimiter
                        a.breadcumps__link(href='#') Комплексный протеин
                        span.breadcumps__delimiter
                        span.breadcumps__page BSN Syntha-6
                    .p-detail
                        .p-detail__col.p-detail__col_top
                            h1.p-detail__name Optimum nutrition gold standart whey
                            //.p-detail__message Доставка с центрального склада
                            .p-detail__left-block
                                .p-images-block
                                    .p-images-block__image
                                        img(src=require('./images/product.png'))
                                    .product-stickers
                                        .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                            | Доставка <br>1 день
                                        .product-stickers__item.product-stickers__item_yellow
                                            | Рекомендуем
                                        .product-stickers__item.product-stickers__item_green
                                            | Новинка
                                        .product-stickers__item.product-stickers__item_red
                                            | Хит!
                                    .product-control
                                        button.product-control__favorites(data-product-toggle="add-favorites")
                                            +sprite('product-card-heart.svg')
                                .p-brand-info
                                    .p-brand-info__logo
                                        img(src='https://marketdo4a.com/upload/resizer/7d/66387_140x38_7dbec6b23aff8ec9f413175944ea2fc3.png')
                                    .p-brand-info__text Официальная поставка от бренда
                                    a.p-brand-info__link(href='#') Все товары Optimum Nutrition

                            .p-detail__header
                                span.p-detail__reviews 11 отзывов
                                span.p-detail__category Комплексный протеин
                                span.p-detail__country Страна: <span class="black">США</span>

                            .p-control
                                .p-control__wrapper
                                    .p-control__weight
                                        .p-control__item
                                            .p-control__tooltip
                                            .p-control__label 900 гр.
                                        .p-control__item.active
                                            .p-control__tooltip
                                            .p-control__label Шоколадный

                            .p-detail__row
                                .p-price
                                    .p-price__new
                                        span.price 2 250
                                        span.currency  ₽
                                    .p-price__old
                                        span.price 2 500
                                        span.currency  ₽
                                    .p-price__bonuses
                                        span.green +225
                                        span.black  бонусных рублей
                                        button.icon-tooltip
                                    .p-price__note
                                        | Цена актуальна только в интернет-магазине

                            .p-detail__availability
                                | В наличии сейчас в <a class="text-link" href="#">2 магазинах</a>

                            .p-delivery-info
                                .p-delivery-info__row
                                    span.p-delivery-info__key Самовывоз из <a class="text-link" href="#">2 магазинов</a> сегодня
                                    span.p-delivery-info__value Бесплатно
                                .p-delivery-info__row
                                    span.p-delivery-info__key Курьером послезавтра
                                    span.p-delivery-info__value Бесплатно от 2 990 ₽
                                .p-delivery-info__bottom
                                    | Оплата при получении
                        .p-detail__col
                            .p-collapse
                                .p-collapse__text
                                    | BSN Syntha 6 — это 6 видов белка, отличный вкус и легкая смешиваемость. Многокомпонентная формула BSN Syntha-6 быстро поднимает уровень аминокислот в крови и удерживает его на протяжении долгого времени. Отличный аминокислотный состав и прекрасный вкус — вот за что этот продукт выбирают тысячи людей по всему миру.
                                //.p-collapse__button

            section.p-section-description
                .container
                    h2.p-section-description__title Описание
                    .p-section-description__row
                        .p-section-description__key Состав
                        .p-section-description__value
                            .p-collapse
                                .p-collapse__text Протеиновая смесь (изолят сывороточного белка, ионозамещенный и микрофильтрованный, ультрафильтрованный сывороточный белковый концентрат) — все источники белка включают концентрированный бета-лактоглобулин, альфа-лактоальбумин, альбумин, иммуноглобулин, гликомакропептиды, лактоферин, лактопероксидазу и другие схожие по строению протеиновые молекулы
                                .p-collapse__button Развернуть
                    .p-section-description__row
                        .p-section-description__key Энергетическая ценность
                        .p-section-description__value 120 ккал/400 ккал
                    .p-section-description__row
                        .p-section-description__key Питательная ценность
                        .p-section-description__value Питательная ценность
                    .p-section-description__row
                        .p-section-description__key Рекомендации к применению
                        .p-section-description__value От производителя: Растворите одну- две мерные ложки Matrix в 250-300 мл воды, нежирного молока. Принимайте Matrix два -три раза в день, чтобы восполнить запасы протеина. Помните,что наилучшее время приема- это с утра после пробуждения, после интенсивных тренировок и перед сном.

            section.p-section-availability
                .container
                    h2.p-section-availability__title
                        div Наличие в магазинах
                        div.red г. Нижнего Новгорода
                .p-section-availability__thead
                    .p-section-availability__inner.container
                        .p-section-availability__th.p-section-availability__col_address
                            | Адрес
                        .p-section-availability__th.p-section-availability__col_stock
                            | Наличие
                        .p-section-availability__th.p-section-availability__col_pickup
                            | Самовывоз
                        .p-section-availability__th.p-section-availability__col_delivery
                            | Доставка
                .p-section-availability__row
                    .p-section-availability__inner.container
                        .p-section-availability__col.p-section-availability__col_address
                            p ул. Невзоровых, д.63к2
                            p за ТЦ «Этажи»
                            p <span class="gray">Открыто:</span> ежедневно, <span class="nowrap">с 10:00 до 22:00</span>
                        .p-section-availability__col.p-section-availability__col_stock
                            .p-section-availability__th Наличие
                            .p-section-availability__td Мало
                        .p-section-availability__col.p-section-availability__col_pickup
                            .p-section-availability__th Самовывоз
                            .p-section-availability__td Не доступен
                            .p-section-availability__note Требуется предварительный заказ на сайте
                        .p-section-availability__col.p-section-availability__col_delivery
                            .p-section-availability__th Доставка
                            .p-section-availability__td Почтой за 5-7 дней
                .p-section-availability__row
                    .p-section-availability__inner.container
                        .p-section-availability__col.p-section-availability__col_address
                            p ул. Невзоровых, д.63к2
                            p за ТЦ «Этажи»
                            p <span class="gray">Открыто:</span> ежедневно, <span class="nowrap">с 10:00 до 22:00</span>
                        .p-section-availability__col.p-section-availability__col_stock
                            .p-section-availability__th Наличие
                            .p-section-availability__td Мало
                        .p-section-availability__col.p-section-availability__col_pickup
                            .p-section-availability__th Самовывоз
                            .p-section-availability__td Не доступен
                            .p-section-availability__note Требуется предварительный заказ на сайте
                        .p-section-availability__col.p-section-availability__col_delivery
                            .p-section-availability__th Доставка
                            .p-section-availability__td Почтой за 5-7 дней


            section.p-section-similar
                .container
                    h2.p-section-similar__title Похожие товары
                .p-section-similar__inner
                    .p-section-similar__list
                        -
                            let index = Math.round(Math.random() * 1000);
                            const productCards = [
                            {
                            title: 'Optimum nutrition gold standart whey',
                            description: 'Комплексный протеин',
                            stickers: ['delivery', 'yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey',
                            }, {
                            title: 'Optimum nutrition',
                            stickers: ['yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey protein',
                            stickers: ['delivery', 'yellow']
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['', 'yellow', 'green', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['delivery', '', '', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            },
                            ]
                        each card in productCards
                            .product-card(data-product-id=index++)
                                .product-card__wrapper(itemscope itemtype="http://schema.org/Product")
                                    .product-card__img
                                        img(itemprop="image"
                                            src="https://msk.marketdo4a.com/upload/resizer/63/99069_135x135_63ec585121253185df07d1ad9e4365dd.jpg"
                                            srcset="https://msk.marketdo4a.com/upload/resizer/15/99069_270x270_151b675ade5086be6aabcf932706bc81.jpg 2x"
                                            alt="Название товара")

                                    .product-card__body
                                        a.product-card__title.stretched-link(href='#' itemprop="name")
                                            | #{card.title || 'Заголовок'}
                                        .product-card__description(itemprop="description")
                                            | #{card.description || 'Описание'}

                                    .product-card__footer(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                        .product-card__price
                                            span.small от
                                            span.price(itemprop="price" content="1750.00")  1 750
                                            span.currency(itemprop="priceCurrency" content="RUB")  ₽
                                        .product-card__sale
                                            | Экономия до 300 ₽
                                        .product-card__row
                                            .product-card__reviews(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating")
                                                meta(itemprop="ratingValue" content="4.23")
                                                meta(itemprop="bestRating" content="5")
                                                meta(itemprop="reviewCount" content="31")
                                                span.product-card__rating
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star
                                                span 31 отзыв
                                            .product-card__stock
                                                link(itemprop="availability" href="http://schema.org/InStock")
                                                div.green В наличии
                                                div 6 фасовок
                                if card.stickers
                                    .product-stickers
                                        each sticker in card.stickers
                                            if sticker === 'delivery'
                                                .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                                    | Доставка <br>1 день
                                            else if sticker === 'yellow'
                                                .product-stickers__item.product-stickers__item_yellow
                                                    | Рекомендуем
                                            else if sticker === 'green'
                                                .product-stickers__item.product-stickers__item_green
                                                    | Новинка
                                            else if sticker === 'red'
                                                .product-stickers__item.product-stickers__item_red
                                                    | Хит!

                                .product-control
                                    button.product-control__favorites(data-product-toggle="add-favorites")
                                        +sprite('product-card-heart.svg')


                    .load-more-block
                        button.load-more-block__link Показать еще
            section.p-section-reviews
                .container
                    .p-section-reviews__header
                        h2.p-section-reviews__title
                            span Отзывы
                            span.p-section-reviews__number 11

                        .p-section-reviews__rating
                            span.p-section-reviews__stars
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star
                            span Средняя оценка: 4,5
                    form.p-section-reviews__field
                        .input-field
                            label.input-field__label(for="reviews") Оставить свой отзыв
                            textarea.input-field__input(id="reviews")
                            button.input-field__button.btn.btn-red(type="submit")
                each item in [1, 2, 3, 4]
                    .p-review-item
                        .container
                            .p-review-item__inner
                                .p-review-item__header
                                    .p-review-item__name Дмитрий
                                    .p-review-item__rating
                                        i.i.i-star.red
                                        i.i.i-star.red
                                        i.i.i-star.red
                                        i.i.i-star.red
                                        i.i.i-star
                                    .p-review-item__date 25.02.2019
                                .p-review-item__body
                                    .p-review-item__text Хороший протеинчик, лёгок в употреблении, живот после него не пучит, хорошо разводится и пьётся. Часто слышу про него, что типа устаревший продукт, может и так, не знаю, о знаю одно - что он работает и стоит недорого!
                                    .p-review-item__vote
                                        button.btn.p-review-item__minus -
                                        span.p-review-item__minus-num 11
                                        button.btn.p-review-item__plus +
                                        span.p-review-item__plus-num 2




        aside.benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться