extends template/template
block wrapper
    main.wrapper
        .page-header
            .container
                .breadcumps
                    a.breadcumps__link.red(href='#') Главная
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Каталог
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Протеины
                    span.breadcumps__delimiter
                    a.breadcumps__link(href='#') Комплексный протеин
                    span.breadcumps__delimiter
                    span.breadcumps__page BSN Syntha-6
                //h1.page-header__title протеины
        article.product(itemscope itemtype="http://schema.org/Product")
            section.p-section-hero
                .container
                    .p-detail
                        .p-detail__col.p-detail__col_top
                            .p-detail-header#js-product-header
                                h1.p-detail-header__name Optimum nutrition gold standart whey
                                div.p-detail-header__note
                                    span Доставка с центрального склада

                            .p-detail__left-block
                                .p-images-block#js-product-image
                                    .p-images-block__image
                                        img(src=require('./images/product.png'))
                                .p-brand-info
                                    .p-brand-info__logo
                                        img(src='https://marketdo4a.com/upload/resizer/7d/66387_140x38_7dbec6b23aff8ec9f413175944ea2fc3.png')
                                    .p-brand-info__text Официальная поставка от бренда
                                    a.p-brand-info__link(href='#') Все товары Optimum Nutrition

                            .p-detail__header
                                a.p-detail__reviews(href="#reviews" data-anchor) 11 отзывов
                                span.p-detail__category Комплексный протеин
                                span.p-detail__country
                                    | Страна: <span class="black">США</span>
                                    img.p-detail__flag(src=require('./img/flag-usa.png'))


                            .p-detail__info#js-product-info

                        .p-detail__col
                            // Там, где много предполагается много текста - обернуть его в .p-collapse
                            .p-collapse BSN Syntha 6 — это 6 видов белка, отличный вкус и легкая смешиваемость. Многокомпонентная формула BSN Syntha-6 быстро поднимает уровень аминокислот в крови и удерживает его на протяжении долгого времени. Отличный аминокислотный состав и прекрасный вкус — вот за что этот продукт выбирают тысячи людей по всему миру.
                                //.p-collapse__button

            section.p-section-description
                .container
                    h2.p-section-description__title Описание
                    dl.p-section-description__list
                        .p-section-description__row
                            dt.p-section-description__key Состав
                            dd.p-section-description__value
                                // Там, где много предполагается много текста - обернуть его в .p-collapse
                                .p-collapse Протеиновая смесь (изолят сывороточного белка, ионозамещенный и микрофильтрованный, ультрафильтрованный сывороточный белковый концентрат) — все источники белка включают концентрированный бета-лактоглобулин, альфа-лактоальбумин, альбумин, иммуноглобулин, гликомакропептиды, лактоферин, лактопероксидазу и другие схожие по строению протеиновые молекулы
                                    //.p-collapse__button Развернуть
                        .p-section-description__row
                            dt.p-section-description__key Энергетическая ценность
                            dd.p-section-description__value 120 ккал/400 ккал
                        .p-section-description__row
                            dt.p-section-description__key Питательная ценность
                            dd.p-section-description__value Питательная ценность
                        .p-section-description__row
                            dt.p-section-description__key Рекомендации к применению
                            dd.p-section-description__value
                                .p-collapse От производителя: Растворите одну- две мерные ложки Matrix в 250-300 мл воды, нежирного молока. Принимайте Matrix два -три раза в день, чтобы восполнить запасы протеина. Помните,что наилучшее время приема- это с утра после пробуждения, после интенсивных тренировок и перед сном.

            section.p-section-availability#stores
                .container
                    h2.p-section-availability__title
                        div Наличие в магазинах
                        div.red г. Нижнего Новгорода
                .p-section-availability__thead
                    .p-section-availability__inner.container
                        .p-section-availability__th.p-section-availability__col_address
                            | Адрес
                        .p-section-availability__th.p-section-availability__col_stock
                            | Наличие
                        .p-section-availability__th.p-section-availability__col_pickup
                            | Самовывоз
                        .p-section-availability__th.p-section-availability__col_delivery
                            | Доставка
                .p-section-availability__row(data-store-id="130")
                    .p-section-availability__inner.container
                        .p-section-availability__col.p-section-availability__col_address
                            a.p-section-availability__link(href="#store-1") ул. Невзоровых, д.63к2
                            p за ТЦ «Этажи»
                            p <span class="gray">Открыто:</span> ежедневно, <span class="nowrap">с 10:00 до 22:00</span>
                        .p-section-availability__col.p-section-availability__col_stock
                            .p-section-availability__th Наличие
                            .p-section-availability__td
                                | Мало
                                .rect-rating.red
                                    i.rect-rating__item.active
                                    i.rect-rating__item
                                    i.rect-rating__item
                                    i.rect-rating__item
                                    i.rect-rating__item
                        .p-section-availability__col.p-section-availability__col_pickup
                            .p-section-availability__th Самовывоз
                            .p-section-availability__td Не доступен
                            .p-section-availability__note Требуется предварительный заказ на сайте
                        .p-section-availability__col.p-section-availability__col_delivery
                            .p-section-availability__th Доставка
                            .p-section-availability__td Почтой за 5-7 дней
                    .p-section-availability__hidden(id="store-1")
                        .p-store-info
                            .p-store-info__store-info
                                .p-store-info__title Этот товар можно найти здесь:
                                .p-store-info__address ул. Невзоровых, д.63к2
                                .p-store-info__timetable Открыто: ежедневно, с 10:00 до 22:00
                            .p-store-info__quote-info
                                .p-store-info__worker
                                    .p-store-info__worker-photo
                                        img(src=require('./images/p-worker.jpg'))
                                    .p-store-info__worker-name Питерцев Александр
                                    .p-store-info__worker-post Консультант по спортивному питанию в <b class="red">г. Нижний Новгород</b>
                                blockquote.p-store-info__quote Сывороточные протеины отлично подходят как при наборе массы, так и при похудении. Ускоряют восстановление и набор чистой мышечной массы




                .p-section-availability__row(data-store-id="115")
                    .p-section-availability__inner.container
                        .p-section-availability__col.p-section-availability__col_address
                            a.p-section-availability__link(href="#store-2") ул. Невзоровых, д.63к2
                            p за ТЦ «Этажи»
                            p <span class="gray">Открыто:</span> ежедневно, <span class="nowrap">с 10:00 до 22:00</span>
                        .p-section-availability__col.p-section-availability__col_stock
                            .p-section-availability__th Наличие
                            .p-section-availability__td
                                | Мало
                                .rect-rating.orange
                                    i.rect-rating__item.active
                                    i.rect-rating__item.active
                                    i.rect-rating__item.active
                                    i.rect-rating__item
                                    i.rect-rating__item
                        .p-section-availability__col.p-section-availability__col_pickup
                            .p-section-availability__th Самовывоз
                            .p-section-availability__td Не доступен
                            .p-section-availability__note Требуется предварительный заказ на сайте
                        .p-section-availability__col.p-section-availability__col_delivery
                            .p-section-availability__th Доставка
                            .p-section-availability__td Почтой за 5-7 дней


            section.p-section-similar
                .container
                    h2.p-section-similar__title Похожие товары
                .p-section-similar__inner
                    .p-section-similar__list
                        -
                            let index = Math.round(Math.random() * 1000);
                            const productCards = [
                            {
                            title: 'Optimum nutrition gold standart whey',
                            description: 'Комплексный протеин',
                            stickers: ['delivery', 'yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey',
                            }, {
                            title: 'Optimum nutrition',
                            stickers: ['yellow', 'green', 'red']
                            }, {
                            title: 'Optimum nutrition gold standart whey protein',
                            stickers: ['delivery', 'yellow']
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['', 'yellow', 'green', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            }, {
                            price: '1 750',
                            sale: '600',
                            stickers: ['delivery', '', '', '']
                            }, {
                            price: '1 750',
                            sale: '600',
                            },
                            ]
                        each card in productCards
                            .product-card(data-product-id=index++)
                                .product-card__wrapper(itemscope itemtype="http://schema.org/Product")
                                    .product-card__img
                                        img(itemprop="image"
                                            src="https://msk.marketdo4a.com/upload/resizer/63/99069_135x135_63ec585121253185df07d1ad9e4365dd.jpg"
                                            srcset="https://msk.marketdo4a.com/upload/resizer/15/99069_270x270_151b675ade5086be6aabcf932706bc81.jpg 2x"
                                            alt="Название товара")

                                    .product-card__body
                                        a.product-card__title.stretched-link(href='#' itemprop="name")
                                            | #{card.title || 'Заголовок'}
                                        .product-card__description(itemprop="description")
                                            | #{card.description || 'Описание'}

                                    .product-card__footer(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
                                        .product-card__price
                                            span.small от
                                            span.price(itemprop="price" content="1750.00")  1 750
                                            span.currency(itemprop="priceCurrency" content="RUB")  ₽
                                        .product-card__sale
                                            | Экономия до 300 ₽
                                        .product-card__row
                                            .product-card__reviews(itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating")
                                                meta(itemprop="ratingValue" content="4.23")
                                                meta(itemprop="bestRating" content="5")
                                                meta(itemprop="reviewCount" content="31")
                                                span.product-card__rating
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star.red
                                                    i.i.i-star
                                                span 31 отзыв
                                            .product-card__stock
                                                link(itemprop="availability" href="http://schema.org/InStock")
                                                div.green В наличии
                                                div 6 фасовок
                                if card.stickers
                                    .product-stickers
                                        each sticker in card.stickers
                                            if sticker === 'delivery'
                                                .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                                    | Доставка <br>1 день
                                            else if sticker === 'yellow'
                                                .product-stickers__item.product-stickers__item_yellow
                                                    | Рекомендуем
                                            else if sticker === 'green'
                                                .product-stickers__item.product-stickers__item_green
                                                    | Новинка
                                            else if sticker === 'red'
                                                .product-stickers__item.product-stickers__item_red
                                                    | Хит!

                                .product-control
                                    button.product-control__favorites(data-product-toggle="add-favorites")
                                        +sprite('product-card-heart.svg')

                    .load-more-block
                        button.load-more-block__link Показать еще

            section.p-section-reviews#reviews
                .container
                    .p-reviews-header
                        h2.p-reviews-header__title
                            span Отзывы
                            span.p-reviews-header__count 11
                        button.p-reviews-header__button.btn.btn-red.btn-skew(data-fancybox data-src="#modal-add-review")
                            | <svg class="btn-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                            | <path d="M9.86372 5.40662C9.90956 5.34708 9.93209 5.27229 9.92694 5.19677C9.92178 5.12124 9.88931 5.05036 9.83582 4.99788C9.78233 4.94541 9.71165 4.91508 9.63748 4.91278C9.56331 4.91049 9.49096 4.93639 9.43445 4.98546L4.06854 9.6435L1.23493 8.52531C1.11167 8.47718 1.00454 8.39395 0.92627 8.28552C0.848003 8.17708 0.801892 8.048 0.793416 7.91361C0.784939 7.77921 0.814454 7.64517 0.878452 7.52739C0.942451 7.40961 1.03824 7.31305 1.15444 7.2492L12.9182 0.525365C13.0106 0.47455 13.1149 0.450302 13.2198 0.455211C13.3247 0.46012 13.4263 0.494001 13.5138 0.553238C13.6013 0.612474 13.6714 0.694843 13.7166 0.791554C13.7618 0.888265 13.7805 0.995686 13.7705 1.10236L12.7386 12.0778C12.7283 12.1904 12.6923 12.2989 12.6337 12.3948C12.575 12.4907 12.4952 12.5713 12.4006 12.6302C12.306 12.6891 12.1992 12.7247 12.0888 12.734C11.9784 12.7434 11.8673 12.7264 11.7645 12.6843L8.31587 11.3218L6.15093 13.3918C6.07103 13.468 5.971 13.5186 5.86321 13.5374C5.75542 13.5561 5.6446 13.5423 5.54446 13.4974C5.44432 13.4526 5.35926 13.3788 5.29978 13.2852C5.24031 13.1916 5.20903 13.0822 5.20983 12.9707V11.345L9.86372 5.40662Z" fill="currentColor"/>
                            | </svg>
                            | Оставить свой отзыв
                        .p-reviews-header__rating
                            .p-reviews-header__rating-stars
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star.red
                                i.i.i-star
                            .p-reviews-header__rating-stroke
                                span.p-reviews-header__rating-text Средняя оценка
                                span.p-reviews-header__rating-value 4,5

                    form.p-review-form
                        .p-review-form__row
                            .p-review-form__col
                                .p-review-form__rating
                                    | Твоя оценка
                                    .p-review-form__stars
                            .p-review-form__col
                                .input-field.input-field_primary
                                    label.input-field__label(for="form-review-name") Как тебя зовут?*
                                    input.input-field__input(id="form-review-name" type="text" name="name" required=true)
                            .p-review-form__col
                                .input-field.input-field_primary
                                    label.input-field__label(for="form-review-email") Твой e-mail*
                                    input.input-field__input(id="form-review-email" type="email" name="email" required=true)
                        .p-review-form__textarea
                            .input-field.input-field_primary
                                label.input-field__label(for="form-review-text") Оставить отзыв
                                textarea.input-field__input.autoheight(id="form-review-text" name="text")
                                button.input-field__button.btn.btn-red(type="submit")
                                    | <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    | <path d="M9.86372 5.40662C9.90956 5.34708 9.93209 5.27229 9.92694 5.19677C9.92178 5.12124 9.88931 5.05036 9.83582 4.99788C9.78233 4.94541 9.71165 4.91508 9.63748 4.91278C9.56331 4.91049 9.49096 4.93639 9.43445 4.98546L4.06854 9.6435L1.23493 8.52531C1.11167 8.47718 1.00454 8.39395 0.92627 8.28552C0.848003 8.17708 0.801892 8.048 0.793416 7.91361C0.784939 7.77921 0.814454 7.64517 0.878452 7.52739C0.942451 7.40961 1.03824 7.31305 1.15444 7.2492L12.9182 0.525365C13.0106 0.47455 13.1149 0.450302 13.2198 0.455211C13.3247 0.46012 13.4263 0.494001 13.5138 0.553238C13.6013 0.612474 13.6714 0.694843 13.7166 0.791554C13.7618 0.888265 13.7805 0.995686 13.7705 1.10236L12.7386 12.0778C12.7283 12.1904 12.6923 12.2989 12.6337 12.3948C12.575 12.4907 12.4952 12.5713 12.4006 12.6302C12.306 12.6891 12.1992 12.7247 12.0888 12.734C11.9784 12.7434 11.8673 12.7264 11.7645 12.6843L8.31587 11.3218L6.15093 13.3918C6.07103 13.468 5.971 13.5186 5.86321 13.5374C5.75542 13.5561 5.6446 13.5423 5.54446 13.4974C5.44432 13.4526 5.35926 13.3788 5.29978 13.2852C5.24031 13.1916 5.20903 13.0822 5.20983 12.9707V11.345L9.86372 5.40662Z" fill="currentColor"/>
                                    | </svg>
                .p-reviews-list#js-product-reviews
                    .p-reviews-list__message Отзывов пока нет
                    .p-reviews-list__list
                        each item in [1, 2, 3, 4]
                            .p-review-item(data-review-id=item)
                                .container
                                    .p-review-item__inner
                                        .p-review-item__header
                                            .p-review-item__name Дмитрий
                                            .p-review-item__rating
                                                i.i.i-star.red
                                                i.i.i-star.red
                                                i.i.i-star.red
                                                i.i.i-star.red
                                                i.i.i-star
                                            .p-review-item__date 25.02.2019
                                        .p-review-item__body
                                            .p-review-item__text Хороший протеинчик, лёгок в употреблении, живот после него не пучит, хорошо разводится и пьётся. Часто слышу про него, что типа устаревший продукт, может и так, не знаю, о знаю одно - что он работает и стоит недорого!
                                            .p-review-item__vote
                                                button.btn.p-review-item__down-vote -
                                                span.p-review-item__down-vote-count 11
                                                button.btn.p-review-item__up-vote +
                                                span.p-review-item__up-vote-count 2
                    .load-more-block
                        button.load-more-block__link Показать еще
                        .load-more-block__value Показано 24 из 170



        aside.benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться
    .modal-container#modal-add-review
        form.p-modal-form
            .p-modal-form__inner
                h2.p-modal-form__title Оставить отзыв
                .p-modal-form__rating
                    .p-modal-form__rating-text Твоя оценка
                    .p-modal-form__rating-stars
                .p-modal-form__row
                    .p-modal-form__col
                        .input-field.input-field_primary
                            label.input-field__label(for="modal-form-review-name") Как тебя зовут?*
                            input.input-field__input(id="modal-form-review-name" type="text" name="name" required=true)
                    .p-modal-form__col
                        .input-field.input-field_primary
                            label.input-field__label(for="modal-form-review-email") Твой e-mail*
                            input.input-field__input(id="modal-form-review-email" type="email" name="email" required=true)
                .p-modal-form__textarea
                    .input-field.input-field_primary
                        label.input-field__label(for="modal-form-review-text") Оставить свой отзыв
                        textarea.input-field__input(id="modal-form-review-text" name="text")
                .p-modal-form__note
                    | Оставляя отзыв на сайте, вы подтверждаете своё согласие на обработку
                    |
                    a(href="#") персональных данных
                .p-modal-form__footer
                    button.p-modal-form__button.btn.btn-red.btn-skew(type="submit")
                        | <svg class="btn-icon" width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        | <path d="M9.86372 5.40662C9.90956 5.34708 9.93209 5.27229 9.92694 5.19677C9.92178 5.12124 9.88931 5.05036 9.83582 4.99788C9.78233 4.94541 9.71165 4.91508 9.63748 4.91278C9.56331 4.91049 9.49096 4.93639 9.43445 4.98546L4.06854 9.6435L1.23493 8.52531C1.11167 8.47718 1.00454 8.39395 0.92627 8.28552C0.848003 8.17708 0.801892 8.048 0.793416 7.91361C0.784939 7.77921 0.814454 7.64517 0.878452 7.52739C0.942451 7.40961 1.03824 7.31305 1.15444 7.2492L12.9182 0.525365C13.0106 0.47455 13.1149 0.450302 13.2198 0.455211C13.3247 0.46012 13.4263 0.494001 13.5138 0.553238C13.6013 0.612474 13.6714 0.694843 13.7166 0.791554C13.7618 0.888265 13.7805 0.995686 13.7705 1.10236L12.7386 12.0778C12.7283 12.1904 12.6923 12.2989 12.6337 12.3948C12.575 12.4907 12.4952 12.5713 12.4006 12.6302C12.306 12.6891 12.1992 12.7247 12.0888 12.734C11.9784 12.7434 11.8673 12.7264 11.7645 12.6843L8.31587 11.3218L6.15093 13.3918C6.07103 13.468 5.971 13.5186 5.86321 13.5374C5.75542 13.5561 5.6446 13.5423 5.54446 13.4974C5.44432 13.4526 5.35926 13.3788 5.29978 13.2852C5.24031 13.1916 5.20903 13.0822 5.20983 12.9707V11.345L9.86372 5.40662Z" fill="currentColor"/>
                        | </svg>
                        | Отправить отзыв

