extends template/template
block wrapper
    main.wrapper
        .page-header
            .container
                .breadcumps
                    a.breadcumps__link.red(href='#') Главная
                    span.breadcumps__delimiter
                    span.breadcumps__page Производители

                h1.page-header__title Производители


                .page-header__search
                    form.search-fild
                        input.search-fild__input.input-text(placeholder='Поиск по производителям', type='text')
                        button.search-fild__loupe(type='submit')
                            +sprite('loupe.svg')

        .catalog-control
            .catalog-control__menu.catalog-control__menu_white
                .category-list-mob
                    .category-list-mob__item Все категории
                    .category-list-mob__item.active Сывороточный
                    .category-list-mob__item Комплексный
                    .category-list-mob__item Сывороточный
                    .category-list-mob__item Комплексный
            .catalog-control__menu.catalog-control__menu_white
                .container
                    .view
                        .view__category
                            form.multifilter
                                button.multifilter__content(data-toggle="dropdown" type="button")
                                    span.multifilter__label Показывать для категорий:
                                    span.multifilter__value Протеины, Гейнеры, Аминокислоты
                                    span.multifilter__total 23
                                button.multifilter__btn-clear(type="reset") Сбросить
                                .dropdown-menu(role="form")
                                    .p-1 dropdown
                        .view__tab
                            .multifilter
                                .multifilter__content
                                    .multifilter__label Вид:
                                    .multifilter__tablist.nav(role="tablist")
                                        button.multifilter__tab.active(data-toggle="tab" role="tab" data-target="#cards")
                                            i.i.i-cards
                                        button.multifilter__tab(data-toggle="tab" role="tab" data-target="#list")
                                            i.i.i-list

                        //.view-tablist.nav(role="tablist")
                        //    span.view-tablist__label Вид:
                        //    button.view-tablist__tab.active(data-toggle="tab" role="tab" data-target="#cards")
                        //
                        //    button.view-tablist__tab(data-toggle="tab" role="tab" data-target="#list")




        .vendor-list.container.tab-content
            .brand-name-list.tab-pane#list(role="tabpanel")
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title A
                        .brand-name-list__item AF Nutrition
                        .brand-name-list__item ANT
                        .brand-name-list__item APS
                        .brand-name-list__item ASL
                        .brand-name-list__item ASN
                        .brand-name-list__item AST
                        .brand-name-list__item All Nutrition
                        .brand-name-list__item Alpha
                        .brand-name-list__item Asics
                        .brand-name-list__item Athletic
                        .brand-name-list__item Athletic Nutrition
                        .brand-name-list__item Atletia
                        .brand-name-list__item Atletika24
                        .brand-name-list__item Atract
                        .brand-name-list__item aTech nutrition
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title B
                        .brand-name-list__item BSN
                        .brand-name-list__item Bad Boy
                        .brand-name-list__item BeFirst
                        .brand-name-list__item Befit
                        .brand-name-list__item Best Joy
                        .brand-name-list__item Betancourt
                        .brand-name-list__item Better bodies
                        .brand-name-list__item BioTech
                        .brand-name-list__item Biovise
                        .brand-name-list__item Bison
                        .brand-name-list__item Blackstone Labs
                        .brand-name-list__item Blender Bottle
                        .brand-name-list__item Body Strong
                        .brand-name-list__item BombBar
                        .brand-name-list__item Bona Fide
                        .brand-name-list__item Boss Sports Nutrition
                        .brand-name-list__item Bounty
                        .brand-name-list__item Brachial
                        .brand-name-list__item Btoperform
                        .brand-name-list__item bpiSports
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title A
                        .brand-name-list__item AF Nutrition
                        .brand-name-list__item ANT
                        .brand-name-list__item APS
                        .brand-name-list__item ASL
                        .brand-name-list__item ASN
                        .brand-name-list__item AST
                        .brand-name-list__item All Nutrition
                        .brand-name-list__item Alpha
                        .brand-name-list__item Asics
                        .brand-name-list__item Athletic
                        .brand-name-list__item Athletic Nutrition
                        .brand-name-list__item Atletia
                        .brand-name-list__item Atletika24
                        .brand-name-list__item Atract
                        .brand-name-list__item aTech nutrition
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title B
                        .brand-name-list__item BSN
                        .brand-name-list__item Bad Boy
                        .brand-name-list__item BeFirst
                        .brand-name-list__item Befit
                        .brand-name-list__item Best Joy
                        .brand-name-list__item Betancourt
                        .brand-name-list__item Better bodies
                        .brand-name-list__item BioTech
                        .brand-name-list__item Biovise
                        .brand-name-list__item Bison
                        .brand-name-list__item Blackstone Labs
                        .brand-name-list__item Blender Bottle
                        .brand-name-list__item Body Strong
                        .brand-name-list__item BombBar
                        .brand-name-list__item Bona Fide
                        .brand-name-list__item Boss Sports Nutrition
                        .brand-name-list__item Bounty
                        .brand-name-list__item Brachial
                        .brand-name-list__item Btoperform
                        .brand-name-list__item bpiSports
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title A
                        .brand-name-list__item AF Nutrition
                        .brand-name-list__item ANT
                        .brand-name-list__item APS
                        .brand-name-list__item ASL
                        .brand-name-list__item ASN
                        .brand-name-list__item AST
                        .brand-name-list__item All Nutrition
                        .brand-name-list__item Alpha
                        .brand-name-list__item Asics
                        .brand-name-list__item Athletic
                        .brand-name-list__item Athletic Nutrition
                        .brand-name-list__item Atletia
                        .brand-name-list__item Atletika24
                        .brand-name-list__item Atract
                        .brand-name-list__item aTech nutrition
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title B
                        .brand-name-list__item BSN
                        .brand-name-list__item Bad Boy
                        .brand-name-list__item BeFirst
                        .brand-name-list__item Befit
                        .brand-name-list__item Best Joy
                        .brand-name-list__item Betancourt
                        .brand-name-list__item Better bodies
                        .brand-name-list__item BioTech
                        .brand-name-list__item Biovise
                        .brand-name-list__item Bison
                        .brand-name-list__item Blackstone Labs
                        .brand-name-list__item Blender Bottle
                        .brand-name-list__item Body Strong
                        .brand-name-list__item BombBar
                        .brand-name-list__item Bona Fide
                        .brand-name-list__item Boss Sports Nutrition
                        .brand-name-list__item Bounty
                        .brand-name-list__item Brachial
                        .brand-name-list__item Btoperform
                        .brand-name-list__item bpiSports
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title A
                        .brand-name-list__item AF Nutrition
                        .brand-name-list__item ANT
                        .brand-name-list__item APS
                        .brand-name-list__item ASL
                        .brand-name-list__item ASN
                        .brand-name-list__item AST
                        .brand-name-list__item All Nutrition
                        .brand-name-list__item Alpha
                        .brand-name-list__item Asics
                        .brand-name-list__item Athletic
                        .brand-name-list__item Athletic Nutrition
                        .brand-name-list__item Atletia
                        .brand-name-list__item Atletika24
                        .brand-name-list__item Atract
                        .brand-name-list__item aTech nutrition
                .brand-name-list__col
                    .brand-name-list__content
                        .brand-name-list__title B
                        .brand-name-list__item BSN
                        .brand-name-list__item Bad Boy
                        .brand-name-list__item BeFirst
                        .brand-name-list__item Befit
                        .brand-name-list__item Best Joy
                        .brand-name-list__item Betancourt
                        .brand-name-list__item Better bodies
                        .brand-name-list__item BioTech
                        .brand-name-list__item Biovise
                        .brand-name-list__item Bison
                        .brand-name-list__item Blackstone Labs
                        .brand-name-list__item Blender Bottle
                        .brand-name-list__item Body Strong
                        .brand-name-list__item BombBar
                        .brand-name-list__item Bona Fide
                        .brand-name-list__item Boss Sports Nutrition
                        .brand-name-list__item Bounty
                        .brand-name-list__item Brachial
                        .brand-name-list__item Btoperform
                        .brand-name-list__item bpiSports


            .card-list.tab-pane.active#cards(role="tabpanel")
                .card-list__nav.nav
                    .alphabet-navigation
                        .alphabet-navigation__item
                            a.alphabet-navigation__value.nav-link(href="#letter-A") A
                            .alphabet-navigation__tooltip A
                        .alphabet-navigation__item
                            a.alphabet-navigation__value.nav-link(href="#letter-B") B
                            .alphabet-navigation__tooltip B
                        .alphabet-navigation__item
                            a.alphabet-navigation__value(href="#letter-C") C
                            .alphabet-navigation__tooltip C
                        .alphabet-navigation__item
                            a.alphabet-navigation__value(href="#letter-0-9") 0-9
                            .alphabet-navigation__tooltip 0-9
                        each letter in 'defg'
                            .alphabet-navigation__item
                                a.alphabet-navigation__value(href="#") #{letter}
                                .alphabet-navigation__tooltip #{letter}

                -
                    const vandorCards = [
                    {
                    letter: 'letter-A',
                    name: 'ASICS',
                    description: 'ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году.',
                    img: 'https://marketdo4a.com/upload/resizer/02/65178_212x212_023fcd0f28a28b46db8a3881274ff6fe.png',
                    }, {
                    name: 'Adidas',
                    description: 'Немецкий промышленный концерн, специализирующийся на выпуске спортивной обуви, одежды и инвентаря. ',
                    img: 'https://marketdo4a.com/upload/resizer/29/66525_212x212_293f83efde3fccdfe63a8cbf5ed1bedf.png',
                    stock: '5 товаров от 1 950 ₽',
                    }, {
                    name: 'Название (1 строка)',
                    description: 'Описание (4 строки)',
                    stickers: ['red'],
                    }, {
                    name: 'Muscular Development',
                    description: 'ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году. ASICS - японская корпорация, один из крупнейших в мире производителей спортивной одежды и обуви, основанная в 1949 году.',
                    }, {
                    price: '1 750',
                    sale: '600',
                    }, {
                    letter: 'letter-B',
                    price: '1 750',
                    sale: '600',
                    }, {
                    price: '1 750',
                    sale: '600',
                    }, {
                    price: '1 750',
                    sale: '600',
                    },
                    ]
                each card in vandorCards
                    div.vendor-card(id=(card.letter || ''))
                        .vendor-card__wrapper
                            .vendor-card__img
                                img(src=(card.img || 'https://marketdo4a.com/upload/resizer/02/65178_212x212_023fcd0f28a28b46db8a3881274ff6fe.png')
                                    alt=(card.name || 'Название картинки'))

                            .vendor-card__body
                                a.vendor-card__title.stretched-link(href='#')
                                    | #{card.name || 'Название'}
                                .vendor-card__description
                                    | #{card.description || 'Описание'}

                            .vendor-card__footer
                                .vendor-card__row
                                    .vendor-card__stock-title
                                        | В магазинах
                                    .vendor-card__stock-value
                                        | #{card.stock || 'Нет товаров в наличии'}

                        if card.stickers
                            .product-stickers
                                // Модификаторы:
                                //    .product-stickers_item_yellow     - Желтый фон
                                //    .product-stickers_item_green      - Зеленый фон
                                //    .product-stickers_item_red        - Красный фон
                                //    .product-stickers_item_delivery   - Иконка доставки
                                each sticker in card.stickers
                                    if sticker === 'delivery'
                                        .product-stickers__item.product-stickers__item_red.product-stickers__item_delivery
                                            | Доставка <br>1 день
                                    else if sticker === 'yellow'
                                        .product-stickers__item.product-stickers__item_yellow
                                            | Рекомендуем
                                    else if sticker === 'green'
                                        .product-stickers__item.product-stickers__item_green
                                            | Новинка
                                    else if sticker === 'red'
                                        .product-stickers__item.product-stickers__item_red
                                            | Скидки <br>до 15%


        .catalog-description
            .container
                p
                    | Протеин – это натуральная белковая добавка в виде порошковой смеси, которая применяется в спортивном питании
                    | для роста, поддержания и восстановления мышечной массы, а также для коррекции рациона любого современного
                    | человека.
                p
                    | Для чего нужен протеин? Белок состоит из аминокислот, которые являются основными строительными «кирпичиками»,
                    | необходимыми для построения мышц. Протеин - одна из самых востребованных спортивных добавок, необходимых для
                    | роста и поддержания мышечной массы. Именно поэтому, чтобы повысить качество тренировки и извлечь из нее
                    | максимальную пользу, вы должны обеспечить свой организм достаточным количеством протеина. Прием протеиновых
                    | коктейлей – чрезвычайно эффективный и достаточно экономичный способ обеспечения организма белком.
                p
                    | Ознакомьтесь с нашими высококачественными продуктами здесь и выберите для себя наиболее подходящий вам белковый
                    | порошок или коктейль.
        .benefits
            .container
                .row
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-cup.svg')(height='62', width='91')
                            .benefits__title
                                | Профессиональная
                                br
                                | консультация
                    .col-md-6.col-xl-3
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-hand.svg')(height='87', width='86')
                            .benefits__title
                                | Официальная
                                br
                                | продукция
                    .col-xl-6
                        .benefits__item
                            .benefits__icon
                                +sprite('benefits-mail.svg')(height='69', width='68')
                            .benefits__title
                                | Подписаться
                                br
                                | на новости
                            form.benefits__form
                                .input-field
                                    label.input-field__label(for='email-1') Твой e-mail
                                    input#email-1.input-field__input(type='email')
                                button.btn.btn-block.btn-red Подписаться